@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Passions+Conflict&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #fff;
  color: #05102e;
}

::selection {
  background-color: #fff;
  color: #05102e;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#05102e), color-stop(#b67ab3), color-stop(#ff481b), to(#b9caf8));
  background-image: linear-gradient(180deg, #05102e, #b67ab3, #ff481b, #b9caf8);
  color: #fff;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: .05rem;
  margin: 0 1rem;
}

h1 {
  font-family: "Passions Conflict";
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: .75;
  margin-top: 2rem;
}

h2 {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
}

#menu h3 {
  text-transform: uppercase;
  font-size: .75rem;
  cursor: pointer;
  display: inline-block;
  margin: 0 1rem 2rem;
  background-color: #fff;
  color: #05102e;
  padding: 5px;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

#menu h3:hover {
  background-color: #fff;
}

#menu .selected {
  background-color: transparent;
  color: #fff;
}

#menu .selected:hover {
  background-color: transparent;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 11rem;
    margin-top: 75px;
  }
  h2 {
    margin-bottom: 4rem;
  }
}

h3 {
  margin-bottom: .5rem;
  margin-top: 3rem;
  font-size: 1rem;
}

h4 {
  text-transform: uppercase;
  font-size: .75rem;
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 1.4;
  -webkit-transition: color ease .3s;
  transition: color ease .3s;
  padding: 0 1px;
}

a::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

a:hover {
  color: #05102e;
}

a:hover::after {
  height: 100%;
}

.summary a,
.courses a {
  color: #05102e;
}

.summary a::after,
.courses a::after {
  background-color: #05102e;
}

.summary a:hover,
.courses a:hover {
  color: #fff;
}

.summary a:hover::after,
.courses a:hover::after {
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

ul li {
  margin-top: 10px;
}

ul li:first-of-type {
  margin-top: 0;
}

#background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto 2rem;
}

#background > div {
  width: 100%;
  color: #fff;
  padding: 2rem 1rem;
  margin-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 4px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#background > div i {
  width: 3rem;
  text-align: center;
}

#background #general {
  position: relative;
  border-bottom: 0;
  border-radius: 1.5rem 1.5rem 0 0;
}

#background #tech {
  position: relative;
  border-top: 0;
  border-bottom: 0;
}

#background #tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  margin-bottom: .5rem;
}

#background #tech li {
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: #fff;
  color: #05102e;
  padding: .5rem 1rem;
  border-radius: 1rem;
  margin-right: .5rem;
  margin-top: .5rem;
}

#background #filter {
  border-top: 0;
  border-radius: 0 0 1.5rem 1.5rem;
}

#background #filter #filter-inner {
  text-align: left;
  width: 100%;
  margin: auto;
}

#background #filter #filter-inner h3 {
  margin-top: 0;
}

#background #filter #filter-inner input {
  visibility: hidden;
  z-index: 2;
  position: absolute;
}

#background #filter #filter-inner input:checked + label::before {
  content: '\f00c';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  background-color: #fff;
  border: 1px solid #fff;
  color: #05102e;
  font-size: .625rem;
  margin-bottom: 3px;
  vertical-align: middle;
}

#background #filter #filter-inner label {
  margin-bottom: 10px;
  display: inline-block;
}

#background #filter #filter-inner label:last-of-type {
  margin-bottom: 3px;
}

#background #filter #filter-inner label::before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border: 1px solid #fff;
  border-radius: 2px;
  display: inline-block;
  margin-right: 0.5rem;
}

#background .separator {
  height: 1px;
  background-color: #fff;
  width: calc(100% - 2rem);
  display: inline-block;
  position: absolute;
  left: 1rem;
  bottom: 0;
}

@media screen and (min-width: 700px) {
  #background {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  #background > div {
    width: 33.33%;
    padding: 3rem;
    margin-bottom: 1rem;
  }
  #background #general {
    border-right: 0;
    border-bottom: 4px solid;
    border-radius: 1.5rem 0 0 1.5rem;
  }
  #background #tech {
    border-left: 0;
    border-right: 0;
    border-top: 4px solid;
    border-bottom: 4px solid;
  }
  #background #filter {
    border-left: 0;
    border-top: 4px solid;
    border-radius: 0 1.5rem 1.5rem 0;
  }
  #background .separator {
    width: 1px;
    height: calc(100% - 6rem);
    right: 0;
    top: 3rem;
    left: auto;
    bottom: auto;
  }
}

@media screen and (min-width: 1400px) {
  #background {
    width: 60%;
  }
}

#profile {
  margin-top: 0;
  margin-bottom: -5px;
}

#profile img {
  max-height: 8rem;
  max-width: 8rem;
  border-radius: 50%;
  border: 4px solid #fff;
}

@media screen and (min-width: 700px) {
  #profile {
    margin-top: 2rem;
  }
}

.wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 1.5rem;
  border-right: 4px solid #fff;
  margin-left: 2px;
  position: relative;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  /*&:hover {
            .start, .end {
                visibility: hidden;
                opacity: 0;
            }
            .summary, .courses {
                visibility: visible;
                opacity: 1;
            }
        }*/
}

.wrapper section .fa-circle {
  position: absolute;
  top: calc(50% - 8px);
  right: -10px;
}

.wrapper section .summary,
.wrapper section .courses {
  right: -100%;
  top: calc(50% - 1.25rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1rem;
  position: absolute;
  background-color: #fff;
  color: #05102e;
  width: calc(200% - 4px);
  padding: 1.5rem;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .2s, opacity .5s linear;
  transition: visibility .2s, opacity .5s linear;
  z-index: 2;
}

.wrapper section .summary::after,
.wrapper section .courses::after {
  content: none;
  position: absolute;
  top: 50%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.wrapper section .start,
.wrapper section .end {
  right: 1.5rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  position: absolute;
  -webkit-transition: visibility .2s, opacity .5s linear;
  transition: visibility .2s, opacity .5s linear;
  visibility: hidden;
  opacity: 0;
}

.wrapper section .start {
  bottom: 0;
}

.wrapper section .end {
  top: 0;
}

.wrapper section .location,
.wrapper section .grade {
  display: none;
}

.wrapper section:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 0;
  border-left: 4px solid #fff;
  border-right: none;
  margin-right: 2px;
  margin-left: 0;
}

.wrapper section:nth-child(odd) .fa-circle {
  left: -10px;
}

.wrapper section:nth-child(odd) .summary,
.wrapper section:nth-child(odd) .courses {
  left: -100%;
}

.wrapper section:nth-child(odd) .summary::after,
.wrapper section:nth-child(odd) .courses::after {
  content: none;
  left: 100%;
  border-color: transparent transparent transparent #fff;
}

.wrapper section:nth-child(odd) .start,
.wrapper section:nth-child(odd) .end {
  right: initial;
}

.wrapper #shopworks .summary {
  top: calc(50% + 3px);
}

.wrapper #shopworks h3 {
  margin-top: 6rem;
}

.wrapper #shopworks i {
  top: calc(50% + 1rem);
}

.wrapper #shopworks .end {
  top: 3rem;
}

@media screen and (min-width: 700px) {
  .wrapper section {
    /*&:hover {
            .start,
            .end {
                visibility: visible;
                opacity: 1;
            }
        }*/
  }
  .wrapper section .summary,
  .wrapper section .courses {
    width: 75%;
    left: calc(100% + 2rem);
  }
  .wrapper section .summary::after,
  .wrapper section .courses::after {
    content: '';
  }
  .wrapper section:nth-child(odd) .summary::after,
  .wrapper section:nth-child(odd) .courses::after {
    content: '';
  }
  .wrapper section:nth-child(odd) .summary,
  .wrapper section:nth-child(odd) .courses {
    left: calc(-75% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .wrapper section .summary,
  .wrapper section .courses {
    width: 50%;
  }
  .wrapper section:nth-child(odd) .summary,
  .wrapper section:nth-child(odd) .courses {
    left: calc(-50% - 2rem);
  }
}

#rocket a {
  background-color: transparent;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#rocket a i {
  font-size: 5rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-bottom: 15rem;
}

#rocket a::after {
  content: none;
}
/*# sourceMappingURL=styles.css.map */
